<template>
    <v-container>

        <v-layout>
            <v-flex xs10>
                <v-text-field type="search" pattern="\d$" :label="t('Buscar')"
                :placeholder="t('Buscar por fecha')" v-model="buscar"></v-text-field>
            </v-flex>
            <!--
                @autor: Boris Huezo
                @descripcion:
                    Este son los tags de busqueda y categoria
            -->
            <v-flex xs2>
                <v-btn icon flat color="grey darken-3" @click="getBuscar()">
                    <v-icon>fas fa-search</v-icon>
                </v-btn>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <v-data-table
                    :headers="headers"
                    :items="carrito"
                    class="elevation-1"
                >
                    <template v-slot:items="props">
                    <td>{{ props.item.id_pedido }}</td>
                    <td class="text-xs-center">{{ props.item.nombre }}</td>
                    <td class="text-xs-center">{{ props.item.token }}</td>
                    <td class="text-xs-center">{{ props.item.fecha }}</td>
                    <td class="text-xs-center"> 
                        <span v-if="props.item.estado == 0">{{t('Cancelado')}}</span>
                        <span v-if="props.item.estado == 1">{{t('Activo')}}</span>
                        <span v-if="props.item.estado == 2">{{t('En Proceso')}}</span>
                        <span v-if="props.item.estado == 3">{{t('Finalizado')}}</span>
                    </td>
                    <td class="text-xs-center" @click="verMas(props.item.id_pedido)">
                        <v-icon>fas fa-eye</v-icon>
                    </td>
                    <td class="text-xs-center">
                        <a :href="link+'&lal='+props.item.token+'&nap='+props.item.nap" v-if="props.item.estado == 3">
                            <v-icon color="error">fas fa-file-pdf</v-icon>
                        </a>
                    </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog2" max-width="500px">
            <v-card>
                <v-card-title>
                    {{t('Detalle de pedido')}}
                </v-card-title>
                <v-card-text>
                    <v-data-table
                        :headers="headers2"
                        :items="detallex"
                        class="elevation-1"
                    >
                        <template v-slot:items="props">
                        <td>{{ props.item.id }}</td>
                        <td class="text-xs-center">{{ props.item.nombre }}</td>
                        <td class="text-xs-center">{{ props.item.precio }}</td>
                        <td class="text-xs-center">{{ props.item.cantidad }}</td>
                        <td class="text-xs-center">{{ props.item.comision }}</td>
                        <td class="text-xs-center">{{ parseFloat(props.item.precio_total).toFixed(2) }}</td>
                        </template>
                    </v-data-table>
                    <h2>
                        {{t('Total')}} {{': $'+parseFloat(total).toFixed(2)}}
                    </h2>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click="dialog2=false">{{t('Cerrar')}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </v-container>
</template>
<script>
    import axios from 'axios';
    export default {
        name: 'seguridad',
		locales:{
			english: {
                'Cancelar': 'Cancel',
                'Aceptar': 'Ok',
                'Cerrar': 'Close',
                'Total': 'Total',
                'Detalle de pedido': 'Order Detail',
                'Cancelado': 'Cancelled',
                'Finalizado': 'Finalized',
                'Activo': 'Active',
                'En Proceso': 'In Process',
                'Buscar por fecha': 'Search per date',
                'Buscar': 'Search'
			}
		},
        data () {
        return {
            dialog2: false,
            carritox: [],
            carrito: [],
            detalle: [],
            detallex: [],
            buscar: '',
            //Cambios1
            alert: false,
            message: '',
            color: 'red',
            total: 0,
            link: ''
        }
    },
    computed:{
        headers(){
            let data = []
            if (this.$store.getters.idioma) {
                data = [
                    {
                        text: '#',
                        align: 'left',
                        sortable: false,
                        value: 'id_pedido'
                    },
                    { text: 'Name', value: 'id' },
                    { text: 'Token', value: 'precio_total' },
                    { text: 'Date', value: 'fecha' },
                    { text: 'State', value: 'estado' },
                    { text: 'See'},
                    { text: 'Ticket'},
                ]
            } else {
                data = [
                    {
                        text: '#',
                        align: 'left',
                        sortable: false,
                        value: 'id_pedido'
                    },
                    { text: 'Nombre', value: 'id' },
                    { text: 'Token', value: 'precio_total' },
                    { text: 'Fecha', value: 'fecha' },
                    { text: 'Estado', value: 'estado' },
                    { text: 'Ver'},
                    { text: 'Ticket'},
                ]
            }
            return data
        },
        headers2(){
            let data = []
            if (this.$store.getters.idioma== false) {
                data = [
                    {
                        text: '#',
                        align: 'left',
                        sortable: false,
                        value: 'id'
                    },
                    { text: 'Nombre', value: 'nombre' },
                    { text: 'Precio', value: 'precio' },
                    { text: 'Cantidad', value: 'cantidad' },
                    { text: 'Comision/Unidad', value: 'comision' },
                    { text: 'Total', value: 'precio_total' },
                ]
            } else {
                data = [
                    {
                        text: '#',
                        align: 'left',
                        sortable: false,
                        value: 'id'
                    },
                    { text: 'Name', value: 'nombre' },
                    { text: 'Price', value: 'precio' },
                    { text: 'Quantity', value: 'cantidad' },
                    { text: 'Tax/Unit', value: 'comision' },
                    { text: 'Total', value: 'precio_total' },
                ]
            }
            return data
        },
    },
    mounted () {
        let e = sessionStorage.getItem('token')
        this.link = 'http://localhost/hybody/core/api/pdfs.php?token='+e
        this.verificarcarrito();
        if (this.$store.getters.idioma==true) {

        }
    },
    methods:{
        verMas(comp) {
            this.total = 0
            this.dialog2 = true
            this.detallex = this.detalle.filter(function (elem) {
							let el1 = elem.id_pedido.toLowerCase();
							if (comp === '') return true;
							else return el1.indexOf(comp.toLowerCase()) > -1;

						})
            for (let i = 0;i < this.detallex.length; i++) {
                this.total += parseFloat(this.detallex[i].precio_total);
            }
        },
        getBuscar() {
            let comp = this.buscar
            switch(comp.toLowerCase()){
                case 'enero': comp = '-01-' 
                break;
                case 'febrero': comp = '-02-'
                break;
                case 'marzo': comp = '-03-'
                break;
                case 'abril': comp = '-04-'
                break;
                case 'mayo': comp = '-05-' 
                break;
                case 'junio': comp = '-06-'
                break;
                case 'julio': comp = '-07-' 
                break;
                case 'agosto': comp = '-08-' 
                break;
                case 'septiembre': comp = '-09-' 
                break;
                case 'octubre': comp = '-10-' 
                break;
                case 'noviembre': comp = '-11-'
                break;
                case 'diciembre': comp = '-12-' 
                break;
            }
            this.carrito = this.carritox.filter(function (elem) {
							let el1 = elem.fecha.toLowerCase();
							if (comp === '') return true;
							else return el1.indexOf(comp.toLowerCase()) > -1;

						})
        },
        verificarcarrito(){
            let e = sessionStorage.getItem('token')
            axios.defaults.baseURL = 'http://localhost/hybody/core/';
            axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
            axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
            axios.get('api/pedidos.php?privilege=public&action=consulta&token='+e)
            .then(res =>{
                //console.log(res)
                
                if (res.data.status == 1 && res.data.carrito != []) {
                    this.carritox = res.data.carrito
                    this.carrito = this.carritox
                    this.detalle = res.data.detalle
                    for (let i = 0;i < this.detalle.length; i++) {
                        if (this.detalle[i].id_venta > 0) {
                            //console.log(this.detalle[i].nombre)
                            this.detalle[i].precio_total = parseFloat(this.detalle[i].precio_total)+(parseFloat(this.detalle[i].cantidad)*this.detalle[i].comision)
                            this.detalle[i].precio = parseFloat(this.detalle[i].precio)+parseFloat(this.detalle[i].comision)
                        }
                        else{
                            this.detalle[i].comision = 0
                        }
                    }
                }
                else {
                    this.alert = true;
                    this.message = res.data.message
                    this.color = 'red'
                }
            })
        },
    }
  }
</script>
