<template>
    <form @submit.prevent="info">
        <v-container>
            <v-layout>
                <v-flex
                xs12
                md6
                class="ma-1"
                >
                    <v-select
                    v-model="p1"
                    :items="items"
                    :label="t('Genero')"
                    :rules="vacioRules"
                    name="genero"
                    item
                    value="hola"
                    required
                    ></v-select>
                </v-flex>
                <v-flex
                xs12
                md6
                class="ma-1"
                >
                    <v-select
                    v-model="p2"
                    :items="paises"
                    :label="t('Pais')"
                    :rules="vacioRules"
                    name="pais"
                    required
                    ></v-select>
                </v-flex>
            </v-layout>

            <v-layout>
                <v-flex
                xs12
                md6
                class="ma-1"
                >
                    <v-select
                    v-model="p3"
                    :items="departamentos"
                    :label="t('Departamentos')"
                    :rules="vacioRules"
                    name="departamento"
                    required
                    ></v-select>
                </v-flex>
                <v-flex
                xs12
                md6
                class="ma-1"
                >
                    <v-select
                    v-model="p4"
                    :items="ciudades"
                    :label="t('Ciudad')"
                    :rules="vacioRules"
                    name="ciudad"
                    required
                    ></v-select>
                </v-flex>
            </v-layout>

            <v-layout>
                <v-flex
                xs8
                class="ma-1"
                >
                <v-text-field
                    v-model="p5"
                    :rules="vacioRules"
                    :label="t('Dirección')"
                    name="direccion"
                    required
                ></v-text-field>
                </v-flex>
                <v-flex
                xs4
                class="ma-1"
                >
                <v-text-field
                    v-model="p6"
                    :rules="vacioRules"
                    :label="t('Postal')"
                    type="number"
                    name="postal"
                    required
                ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout>
                <v-flex xs12 md12>
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="p7"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="p7"
                            :label="t('Fecha Nacimiento')"
                            prepend-icon="fas fa-calendar"
                            readonly
                            v-on="on"
                            name="fecha"
                            required
                        ></v-text-field>
                        </template>
                        <v-date-picker v-model="p7" no-title scrollable
                        :allowed-dates="allowedDates"
                        >
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="menu = false">{{t('Cancelar')}}</v-btn>
                            <v-btn flat color="primary" @click="$refs.menu.save(p7)">{{t('Aceptar')}}</v-btn>
                        </v-date-picker>
                    </v-menu>
                </v-flex>
            </v-layout>
        </v-container>

        <v-btn type="submit">{{t('Cambiar')}}</v-btn>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </form>
</template>
<script>
    import axios from 'axios'

    export default {
        name: 'info',
		locales:{
			english: {
                'Cancelar': 'Cancel',
                'Aceptar': 'Ok',
                'Cambiar': 'Change',
                'Graficar': 'Graph',
                'Años': 'Years',
                'Nombre': 'Name',
                'Apellido': 'Last Name',
                'Correo': 'Email',
                'Contraseña': 'Password',
                'Confirmar Contraseña': 'Confirm Password',
                'Datos generales': 'General Data',
                'Pais': 'Country',
                'Genero': 'Gender',
                'Departamentos': 'State',
                'Ciudad': 'City',
                'Dirección': 'Direction',
                'Postal': 'Postal',
                'Fecha Nacimiento': 'Birth date',
                'Teléfono': 'Phone',
                'Masculino': 'Men',
                'Femenino': 'Woman',
                'Cerrar': 'Close',
			}
		},
        data () {
            return {
                //Combobox
                p1: '',
                p2: '',
                p3: '',
                p4: '',
                p5: '',
                p6: 0,
                p7: '',
                items: ['Masculino', 'Femenino'],
                paises: ['El Salvador'],
                departamentos: ['San Salvador'],
                ciudades: ['Mejicanos', 'San Salvador', 'Santa Elena', 'Antiguo Cuscatlan'],

                //DateTimePickers
                date: (new Date().getUTCFullYear()-18)+'-01-01',
                //date: new Date().toISOString().substr(0, 10),
                menu: false,

                //Reglas
                vacioRules: [
                    v => !!v || 'Valores Vacíos'
                ],
                //Cambios1
                alert: false,
                message: '',
                color: 'red',
            }
        },
        mounted() {
            let token = sessionStorage.getItem('token')
            this.verificar(token)
        },
        methods:{
            verificar(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/clientes.php?privilege=public&action=verificar&token='+e)
				.then(res =>{
					//console.log(res)
					if (res.data.status == 1 && res.data.clientes != []) {
                        this.p1 = res.data.clientes[0].genero
                        this.p2 = res.data.clientes[0].pais
                        this.p3 = res.data.clientes[0].departamento
                        this.p4 = res.data.clientes[0].ciudad
                        this.p5 = res.data.clientes[0].direccion
                        this.p6 = parseInt(res.data.clientes[0].postal)
                        this.p7 = res.data.clientes[0].fecha
                    }
					else {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
                    
				})
            },
            allowedDates(val) {
                let ano = new Date().getUTCFullYear();
                let mes = new Date().getUTCMonth();
                let dia = new Date().getUTCDate();
                let res = 0
                if (parseInt(val.split('-')[0], 10) == (ano-18)){
                    if (parseInt(val.split('-')[1], 10) == (mes+1)){
                        if (parseInt(val.split('-')[2], 10) < (dia-1)){
                            res = 1
                        }
                    }
                    else if(parseInt(val.split('-')[1], 10) <= (mes)){
                        res = 1
                    }
                }
                else if(parseInt(val.split('-')[0], 10) <= (ano-19)){
                    res = 1
                }
                return res
            },
            info (e){
                let data = {
                    'genero': this.p1,
                    'pais': this.p2,
                    'departamento': this.p3,
                    'ciudad': this.p4,
                    'direccion': this.p5,
                    'postal': this.p6,
                    'fecha': this.p7
                }
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.post('api/clientes.php?privilege=public&action=info&token='+sessionStorage.getItem('token'), { data })
				.then(res =>{
                    console.log(res)
					if (res.data.status == 1) {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'green'
                    }
                    else if (res.data.status == 2) {
						this.$router.push({
                            name: 'login'
                        })
                    }
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            }
        }
    }
</script>
