<template>
    <form @submit.prevent="setContra">
        <v-layout wrap>
            <v-flex
            xs12
            class="ma-1"
            >
            <v-text-field
                type="password"
                :label="t('Contraseña')"
                name = "contra"
                required
            ></v-text-field>
            </v-flex>
            <v-flex xs12 class="text-xs-center">
                <v-btn type="submit">{{t('Cambiar')}}</v-btn>
            </v-flex>
        </v-layout>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </form>
</template>
<script>
    import axios from 'axios'
    
    export default {
        name: 'seguridad',
		locales:{
			english: {
                'Cancelar': 'Cancel',
                'Aceptar': 'Ok',
                'Cambiar': 'Change',
                'Graficar': 'Graph',
                'Correo': 'Email',
                'Contraseña': 'Password',
                'Confirmar Contraseña': 'Confirm Password',
                'Datos generales': 'General Data',
                'Pais': 'Country',
                'Genero': 'Gender',
                'Departamentos': 'State',
                'Ciudad': 'City',
                'Dirección': 'Direction',
                'Postal': 'Postal',
                'Fecha Nacimiento': 'Birth date',
                'Teléfono': 'Phone',
                'Masculino': 'Men',
                'Femenino': 'Woman',
                'Cerrar': 'Close',
			}
		},
        data () {
            return {

                //Cambios1
                alert: false,
                message: '',
                color: 'red',
            }
        },
        methods:{
            setContra(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.post('api/clientes.php?privilege=public&action=segurity&token='+sessionStorage.getItem('token'), new FormData(e.target))
				.then(res =>{
                    console.log(res)
					if (res.data.status == 1) {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'green'
                    }
                    else if (res.data.status == 2) {
						this.$router.push({
                            name: 'login'
                        })
                    }
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            }
        }
    }
</script>
