<template>
    <v-container>

        <v-layout>
            <v-flex xs12>
                <v-text-field type="search" pattern="\d$" :label="t('Buscar')" 
                :placeholder="t('Buscar por producto')" v-model="buscar"></v-text-field>
            </v-flex>
            <!--
                @autor: Boris Huezo
                @descripcion:
                    Este son los tags de busqueda y categoria
            -->
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <v-data-table
                    :headers="headers"
                    :items="getBuscar"
                    class="elevation-1"
                >
                    <template v-slot:items="props">
                    <td>{{ props.item.producto }}</td>
                    <td class="text-xs-center">
                        <v-btn :to="'/producto/'+props.item.producto+'/'+props.item.id+'?pro='+props.item.link">
                            link
                        </v-btn>
                    </td>
                    <td class="text-xs-center">{{ props.item.cantidad }}</td>
                    <td class="text-xs-center">
                        <v-btn v-if="props.item.estado == 1" flat color="success" @click="cambiarEstado(props.item.id_venta,props.item.estado)">
                            {{t('Activo')}}
                        </v-btn>
                        <v-btn v-if="props.item.estado == 2" flat color="error" @click="cambiarEstado(props.item.id_venta,props.item.estado)">
                            {{t('Desactivado')}}
                        </v-btn>
                    </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </v-container>
</template>
<script>
    import {mapGetters} from 'vuex'
    import axios from 'axios'
    
    export default {
        name: 'ventas',
		locales:{
			english: {
                'Cancelar': 'Cancel',
                'Aceptar': 'Ok',
                'Cerrar': 'Close',
                'Total': 'Total',
                'Desactivado': 'Disabled',
                'Activo': 'Active',
                'Buscar por producto': 'Search per product',
            }
        },
        data () {
            return {
                message: '',
                alert: false,
                color: 'error',
                buscar: '',
                ventas: [],
            }
        },
        mounted(){
            this.verificarcarrito()
        },
        computed:{
            ...mapGetters(['idioma']),
        headers(){
            let data = []
            if (this.$store.getters.idioma) {
                data = [
                {
                    text: 'Products',
                    align: 'left',
                    sortable: false,
                    value: 'producto'
                },
                { text: 'Link', value: 'link' },
                { text: 'Sales', value: 'cantidad' },
                { text: 'State', value: 'estado' }
                ]
            } else {
                data = [
                {
                    text: 'Producto',
                    align: 'left',
                    sortable: false,
                    value: 'producto'
                },
                { text: 'Link', value: 'link' },
                { text: 'Ventas', value: 'cantidad' },
                { text: 'Estado', value: 'estado' }
                ]
            }
            return data
        },
            getBuscar: function (){
                let ventax = []
                let comp = this.buscar
                if (comp != '') {
                    ventax = this.ventas.filter(function (elem) {
                        let el1 = elem.producto.toLowerCase();
                        if (comp === '') return true;
                        else return el1.indexOf(comp.toLowerCase()) > -1;
                    })
                }
                else{
                    ventax = this.ventas
                }
                return ventax
            },
        },
        methods:{
            cambiarEstado(id,estado){
                let e = sessionStorage.getItem('token')
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/ventas.php?privilege=public&action=estado&token='+e+'&id_venta='+id+"&estado="+estado)
                .then(res =>{
                    console.log(res)
                    
                    if (res.data.status == 1) {
                        this.verificarcarrito()
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'success'
                    }
                    else {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'error'
                    }
                })
            },
            verificarcarrito(){
                let e = sessionStorage.getItem('token')
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/ventas.php?privilege=public&action=consulta&token='+e)
                .then(res =>{
                    //console.log(res)
                    
                    if (res.data.status == 1 && res.data.ventas != []) {
                        this.ventas = res.data.ventas
                    }
                    else {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'error'
                    }
                })
            },
        }
    }
</script>
