<template>
    <div>
		<!--
			@autor: Boris Huezo
			@Descripcion:
				este boton se encarga de mandarte al registro de pago
		-->
		<v-fab-transition>
            <v-tooltip left>
                <template v-slot:activator="{ on }">
                    <v-btn
                    color="green"
                    dark
                    fab
                    fixed
                    bottom
                    right
                    v-on="on"
                    @click="pagar()"
                    >
                        $
                        {{total}}
                    </v-btn>
                </template>
                <span>{{t('Pagar')}}</span>
            </v-tooltip>
		</v-fab-transition>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm4 md3 v-for="cart in carrito" :key="cart.id_carrito" style="margin: 5px">
                    <v-hover>
                        <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                            <v-img
                                :src="cart.img"
                                aspect-ratio="2.75"
                            ></v-img>

                            <v-card-title primary-title>
                                <div>
                                    <h3 class="headline mb-0">
                                        {{cart.nombre}}
                                    </h3>
                                    <div>
                                        $ {{parseFloat(cart.precio_total).toFixed(2)}} 
                                    </div>
                                </div>
                            </v-card-title>

                            <v-card-actions>
									<v-btn icon @click="cart.cantidad++ , cart.precio_total = cart.cantidad*cart.precio ,cantidad(cart.id_detallepedido, cart.cantidad )">
										<v-icon>fas fa-plus</v-icon>
									</v-btn>

									<v-flex xs12 sm6 md4>
										<v-text-field type="number" pattern="\d$" :label="t('cantidad')"
										 v-model="cart.cantidad" disabled></v-text-field>
									</v-flex>
									<v-btn icon @click="cart.cantidad--, cart.precio_total = cart.cantidad*cart.precio ,cantidad(cart.id_detallepedido, cart.cantidad )"  v-if="cart.cantidad > 1">
										<v-icon>fas fa-minus</v-icon>
									</v-btn>
									<v-spacer></v-spacer>
									<v-btn icon flat color="red" @click="borrar(cart.id_detallepedido)">
										<v-icon>fas fa-times</v-icon>
									</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-hover>
                </v-flex>
            </v-layout>
        </v-container>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
		locales:{
			english: {
                'Grafica que muestra los gastos mensuales (Por año)': 'Chart showing monthly expenses (per year)',
                'Grafico de cantidad productos comprados (por año)': 'Graph of quantity products purchased (per year)',
                'Cerrar Sesión': 'Logout',
                'Cerrar': 'Close',
                'Cambiar Foto': 'Update Photo',
                'Datos Generales': 'General Data',
                'Cambiar': 'Change',
                'Graficar': 'Graph',
                'Pagar': 'Pay',
                'cantidad': 'quantity',
                'Cerrar': 'Close',
                'Solicitar ser vendedor': 'Request to be a seller',
                'Cancelar': 'Cancel',
                'Aceptar': 'Ok',
                'Total': 'Total',
                'Desactivado': 'Disabled',
			}
		},
        data() {
            return {
                carrito: [],
                //Cambios1
                alert: false,
                message: '',
                color: 'red',
                total: 300
            }
        },
        mounted(){
            this.verificarcarrito(sessionStorage.getItem('token'))
        },
        methods: {

			verificarcarrito(e){
                this.total = 0;
				axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/caja.php?privilege=public&action=verificar&token='+e)
				.then(res =>{
					console.log(res)
					
					if (res.data.status == 1 && res.data.carrito != []) {
                        this.carrito = res.data.carrito
                        for (let i= 0; i < this.carrito.length; i++) {
                            if (this.carrito[i].id_venta > 0) {
                                this.carrito[i].precio_total = parseFloat(this.carrito[i].precio_total)+(parseFloat(this.carrito[i].cantidad)*this.carrito[i].comision)
                                this.carrito[i].precio = parseFloat(this.carrito[i].precio)+parseFloat(this.carrito[i].comision)
                            }
                            this.total = parseFloat(this.total) + parseFloat(this.carrito[i].precio * this.carrito[i].cantidad)
                            
                        }
                        this.total = this.total.toFixed(2)
					}
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            },
            cantidad (id, cantidad) {
				let e = sessionStorage.getItem('token')
				let car = {
					"id": id,
					"cantidad": cantidad,
				}
				axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios({
					url: 'api/caja.php?privilege=public&action=cambiar&token='+e,
					method: 'post',
					data: car
				})
				.then(res =>{
                    this.total = 0
                    for (let i= 0; i < this.carrito.length; i++) {
                        this.total = parseFloat(this.total) + parseFloat(this.carrito[i].precio * this.carrito[i].cantidad)
                    }
                    this.total = this.total.toFixed(2)
				})
            },
            borrar (id) {
				let e = sessionStorage.getItem('token')
				let car = {
					"id": id,
				}
				axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios({
					url: 'api/caja.php?privilege=public&action=borrar&token='+e,
					method: 'post',
					data: car
				})
				.then(res =>{
                        console.log(res)
                        if(res.data.status == 1){
            				this.verificarcarrito(sessionStorage.getItem('token'))
                        }
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            },
			pagar(){
                if(this.total > 0){
                    this.$router.push({
                        name: 'pagar'
                    })
                }
                else {
                    //console.log(res)
                    this.alert = true;
                    this.message = "No ha agregado productos al carrito"
                    this.color = 'red'
                }
			},
        }
    }
</script>
