<template>
	<div>
		<!--
			@autor: Boris Huezo
			@Descripcion:
				este boton redirigira al carrito.
		-->
		<v-fab-transition>
			<v-btn
				color="red"
				dark
				fab
				fixed
				bottom
				right @click="moverCarrito()"
			>
				<v-badge
					color="pink lighten-3"
					right
					overlap
				>
					<template v-slot:badge>
						<span class="colores">
							{{numP}}
						</span>
					</template>
					<v-icon>fas fa-shopping-cart</v-icon>
				</v-badge>
			</v-btn>
		</v-fab-transition>
		<!--
			@Categorias
			@autor: Boris Huezo
			@Descripcion:
				Este apartado es para la colocacion de las
				categorias por las cuales buscar
		-->
		<v-card>
			<v-container fluid grid-list-md >
				<v-layout row wrap>
					<v-flex xs2>
						<v-card
							class="mx-auto"
							max-width="300"
							tile
						>
							<v-layout wrap row>
								<v-flex xs12 class="pl-4 pt-2">
									{{t('CATEGORIA')}}
								</v-flex>
								<v-flex xs12 v-for="(item,i) in categoria" :key="i">
									<v-btn flat block @click="getBuscar(item.nombre)">
										{{ t(item.nombre)}}
									</v-btn>
								</v-flex>
							</v-layout>
						</v-card>
					</v-flex>
					<v-flex xs12 sm9>
						<v-layout row wrap>
							<v-flex xs12 v-if="filtros.length <= 0">
								No se ha encontrado productos
							</v-flex>
							<v-flex v-for="card in getPaginacion" :key="card.id" xs12>
								<v-hover>

									<v-card color="light darken-2 mb-3" class="black--text"
									slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
										<v-layout
										@click="verProducto(card.producto,card.id)">
											<v-flex xs5>
											<v-img
												:src="card.img[0].url"
												height="200px"
												contain
											></v-img>
											</v-flex>
											<v-flex xs7>
											<v-card-title primary-title>
												<div>
												<div class="headline">
													{{card.producto}}
												</div>
												<div>
													{{card.marca}}
												</div>
												<div>
													$ {{card.precio}}
												</div>
												</div>
											</v-card-title>
											</v-flex>
										</v-layout>
									</v-card>

								</v-hover>
							</v-flex>
						</v-layout>
					</v-flex>
				</v-layout>
			</v-container>
		</v-card>

		<div class="text-xs-center">
			<v-pagination v-model="page" :length="pagina"></v-pagination>
		</div>

		<!--
			@autor: Boris Huezo
			@Descripcion:
				Este es el modal de los productos
		-->
		
	</div>

</template>

<script>
	import axios from 'axios'

	export default {
		locales:{
			english: {
				'CATEGORIA': 'CATEGORY',
				'afeitar': 'shave',
				'cuerpo': 'body',
				'dental': 'dental',
				'transpiracion': 'perspiration',
				'Descripción': 'Description',
			}
		},
		data: () => ({
			page: 1,
			pagina: 0,
			paginacion: 10,
			getsearch: false,
			//Buscar productos
			buscar: '',
			buscado: '',
			cate: '',
			//CFiltrado y muestra de Categorias
			categoria: [],
			//Filtrado y muestra de Productos
			filtros: [],
			//productos: [],
			//produc: [],
			//Tags de busqueda
			tags: [],
			//Carrito
			numP: 0,
			precio_total: 0,
			carrito: [],
		}),
		mounted(){
			this.getProductos()
			this.getCategorias()

		},
		computed: {
			getPaginacion: function () {
				let produc = this.$store.getters.productosS
				let page2 = this.page
				let len = produc.length;
				let datos = []
				let l1 = (page2-1)*this.paginacion
				let l2 = (page2 * this.paginacion)-1;
				if((l2-len) > 1){
					l2 = len-1				}
				for(let i = l1; i <= l2; i++){
					datos.push(produc[i])
				}
				//aqui se ingresa el filtro de nuevos productos
				this.filtros = datos
				this.pagina = produc.length/this.paginacion
				if((this.pagina-parseInt(this.pagina)) > 0){
					this.pagina = parseInt(this.pagina + 1);
				}
				return this.filtros
			},
		},
		methods:{
			verProducto (nombre,id) {
				this.$router.push({
					name: 'producto',
					params: {
						producto: nombre,
						id: id
					}
				})
			},
			getBuscar (dato) {
				this.$store.dispatch('categoryProducto',dato)
			},
			getProductos () {
				this.$store.dispatch('getProductos');
			},
			getCategorias () {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/productos.php?privilege=public&action=categoria')
				.then(res =>{
					//console.log(res)
					if(res.data.status == 1){
						this.categoria = res.data.categorias
					}
				})
			},
			moverCarrito () {
				this.$router.push({
					name: 'carrito'
				})
			},
			verificarcarrito(e){
				axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/caja.php?privilege=public&action=verificar&token='+e)
				.then(res =>{
					//console.log(res)
					if (res.data.status == 1 &&res.data.carrito != []) {
						let valor = res.data.carrito;
						for(let i=0; i< valor.length; i++) {
							this.numP += parseInt(valor[i].cantidad)
						}
					}
				})
            },
		},
	}
</script>

<style>
	/*.colores{
		color: #000;
	}*/
	.fondo{
		background: rgba(0, 0, 0, 0.5);
		color: #ffff;
	}
	.comentario{
		height: 400px;
		overflow-y: auto;
	}

	*::-webkit-scrollbar {
		width: 8px;     /* Tamaño del scroll en vertical */
		height: 8px;    /* Tamaño del scroll en horizontal */
		/*display: none;   Ocultar scroll */
	}
	*::-webkit-scrollbar-thumb {
		background: #26c6da;
		border-radius: 4px;
	}

	/* Cambiamos el fondo cuando esté en active */
	*::-webkit-scrollbar-thumb:active {
		background: #009688;
	}

</style>

