<template>
    <v-container>
        <v-layout wrap>
            <v-flex xs12 md6 text-xs-center class="px-4 py-3">
                <h1>{{t('Iniciar Sesión')}}</h1>
                <form @submit.prevent="iniciar">
                    <v-text-field
                    v-model="email"
                    :label="t('Correo')"
                    type="email"
                    name="correo"
                    autocomplete="off"
                    required
                    ></v-text-field>
                    <v-text-field
                    v-model="password"
                    :label="t('Contraseña')"
                    type="password"
                    name="contra"
                    autocomplete="off"
                    required
                    ></v-text-field>

                    <v-btn type="submit">{{t('Iniciar Sesión')}}</v-btn>
                    
                    <v-alert
                    v-model="alert"
                    dismissible
 
                    color="error"
                    icon="fas fa-info"
                    outline
                    >
                    {{ message }}
                    </v-alert>
                </form>
            </v-flex>
            <v-divider class="hidden-md-and-up" vertical></v-divider>
            <v-divider class="hidden-sm-and-down"></v-divider>
            <v-flex xs12 md6 text-xs-center class="px-4 py-3">
                <h1>{{t('Registrarse')}}</h1>
                <form @submit.prevent="reg">
                    <v-container>
                        <v-layout>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p0"
                                :rules="vacioRules"
                                :label="t('Nombres')"
                                autocomplete="off"
                                required
                            ></v-text-field>
                            </v-flex>

                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p1"
                                :rules="vacioRules"
                                :label="t('Apellidos')"
                                autocomplete="off"
                                required
                            ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout wrap>
                            <v-flex
                            xs12
                            md12
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p2"
                                :rules="vacioRules"
                                :label="t('Correo')"
                                autocomplete="off"
                                type="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                title="(Ejemplo: example@example.com)"
                                required
                            ></v-text-field>
                            </v-flex>
                            <v-flex
                            xs12
                            md5
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="password1"
                                type="password"
                                :rules="[rules.required, rules.min]"
                                :label="t('Contraseña')"
                                autocomplete="off"
                                required
                            ></v-text-field>
                            </v-flex>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p3"
                                type="password"
                                :rules="[rules.required, rules.min, rules.same]"
                                :label="t('Confirmar Contraseña')"
                                autocomplete="off"
                                required
                            ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                                <v-select
                                v-model="p4"
                                :items="t(items)"
                                :label="t('Genero')"
                                autocomplete="off"
                                :rules="vacioRules"
                                required
                                ></v-select>
                            </v-flex>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                                <v-select
                                v-model="p6"
                                :items="paises"
                                :label="t('Pais')"
                                :rules="vacioRules"
                                required
                                ></v-select>
                            </v-flex>
                        </v-layout>

                        <v-layout>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                                <v-select
                                v-model="p7"
                                :items="departamentos"
                                :label="t('Departamentos')"
                                :rules="vacioRules"
                                required
                                ></v-select>
                            </v-flex>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                                <v-select
                                v-model="p8"
                                :items="ciudades"
                                :label="t('Ciudades')"
                                :rules="vacioRules"
                                required
                                ></v-select>
                            </v-flex>
                        </v-layout>

                        <v-layout>
                            <v-flex
                            xs8
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p9"
                                :rules="vacioRules"
                                :label="t('Dirección')"
                                autocomplete="off"
                                required
                            ></v-text-field>
                            </v-flex>
                            <v-flex
                            xs4
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p10"
                                :rules="vacioRules"
                                autocomplete="off"
                                :label="t('Postal')"
                                type="number"
                                required
                            ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout>
                            <v-flex xs12 md6>
                                <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    :return-value.sync="date"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px"
                                >
                                    <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="date"
                                        :label="t('Fecha Nacimiento')"
                                        prepend-icon="fas fa-calendar"
                                        readonly
                                        v-on="on"
                                    ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="date" no-title scrollable
                                    :allowed-dates="allowedDates"
                                    >
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                        <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex
                            xs12
                            md6
                            class="ma-1"
                            >
                            <v-text-field
                                v-model="p11"
                                :rules="telefonoRules"
                                :label="t('Teléfono')"
                                type="number"
                                autocomplete="off"
                                required
                            ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>

                    <v-btn type="submit">{{t('Registrarse')}}</v-btn>
                </form>
                <v-alert
                    v-model="alert2"
                    dismissible
 
                    color="error"
                    icon="fas fa-info"
                    outline
                    >
                    {{ message }}
                </v-alert>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import axios from 'axios';
    export default {
		locales:{
			english: {
                'Iniciar Sesión': 'Login',
                'Registrarse': 'Register',
                'Nombre': 'Name',
                'Apellido': 'Last Name',
                'Correo': 'Email',
                'Contraseña': 'Password',
                'Confirmar Contraseña': 'Confirm Password',
                'Datos generales': 'General Data',
                'Pais': 'Country',
                'Genero': 'Gender',
                'Departamentos': 'State',
                'Ciudad': 'City',
                'Dirección': 'Direction',
                'Postal': 'Postal',
                'Fecha Nacimiento': 'Birth date',
                'Teléfono': 'Phone',
                'Masculino': 'Men',
                'Femenino': 'Woman'
			}
		},
        data(){
            return {
                //Errores
                alert: false,
                alert2: false,
                message: '',


                password: '',
                email: '',
                checkbox: false,
                //Combobox
                items: ['Masculino', 'Femenino'],
                paises: ['El Salvador'],
                departamentos: ['San Salvador'],
                ciudades: ['Mejicanos', 'San Salvador', 'Santa Elena', 'Antiguo Cuscatlan'],

                //DateTimePickers
                //date: new Date().toISOString().substr(0, 10),
                menu: false,

                //Reglas
                vacioRules: [
                    v => !!v || 'Valores Vacíos'
                ],
                rules: {
                    required: value => !!value || 'Valores Vacíos.',
                    min: v => v.length >= 8 || 'Min 8 caracteres',
                    same: v => v == this.password1 || 'Las contraseñas no coinciden.',
                },
                telefonoRules: [
                    v => !!v || 'Valores Vacíos, debe tener como minimo 8 digitos'
                ],
                p0: '',
                p1: '',
                p2: '',
                p3: '',
                password1: '',
                p4: 'Masculino',
                date: (new Date().getUTCFullYear()-18)+'-01-01',
                p6: 'El Salvador',
                p7: 'San Salvador',
                p8: 'San Salvador',
                p9: '',
                p10: '',
                p11: '',
            }
        },
        mounted(){
            this.verificar(sessionStorage.getItem('token'))
        },
        methods:{
            allowedDates(val) {
                let ano = new Date().getUTCFullYear();
                let mes = new Date().getUTCMonth();
                let dia = new Date().getUTCDate();
                let res = 0
                if (parseInt(val.split('-')[0], 10) == (ano-18)){
                    if (parseInt(val.split('-')[1], 10) == (mes+1)){
                        if (parseInt(val.split('-')[2], 10) < (dia-1)){
                            res = 1
                        }
                    }
                    else if(parseInt(val.split('-')[1], 10) <= (mes)){
                        res = 1
                    }
                }
                else if(parseInt(val.split('-')[0], 10) <= (ano-19)){
                    res = 1
                }
                return res
            },
            verificar(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/clientes.php?privilege=public&action=verificar&token='+e)
				.then(res =>{
                    console.log(res)
					if (res.data.status == 1 && res.data.clientes != []) {
						this.$router.push({
                            name: 'perfil'
                        })
						//console.log(res)
					}
					else {
					}
				})
            },
            iniciar(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.post('api/clientes.php?privilege=public&action=login', new FormData(e.target))
				.then(res =>{
					if (res.data.status == 1) {
                        this.alert = false;
                        sessionStorage.setItem('token',res.data.token)
						this.$router.push({
                            name: 'perfil'
                        })
						//console.log(res)
                    }
					else {
						console.log(res)
                        this.alert = true;
                        this.message = res.data.message
					}
				})
            },
            reg (){
                if(this.password1 === this.p3){
                    let data = {
                        'nombre': this.p0,
                        'apellido': this.p1,
                        'correo': this.p2,
                        'contra': this.p3,
                        'genero': this.p4,
                        'pais': this.p6,
                        'departamento': this.p7,
                        'ciudad': this.p8,
                        'direccion': this.p9,
                        'postal': this.p10,
                        'telefono': this.p11,
                        'fecha': this.date
                    }
                    axios.defaults.baseURL = 'http://localhost/hybody/core/';
                    axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                    axios.post('api/clientes.php?privilege=public&action=registrar', { data })
                    .then(res =>{
                        console.log(res)
                        if (res.data.status == 1) {
                            sessionStorage.setItem('token',res.data.token)
                            this.$router.push({
                                name: 'perfil'
                            })
                        }
                        else {
                            //console.log(res)
                            this.alert2 = true;
                            this.message = res.data.message
                        }
                    })
                }
                else{
                    this.alert2 = true;
                    this.message = "Contraseña no coinciden"
                }
            }
        }
    }
</script>
