<template>
    <v-layout wrap>
        <v-flex xs12>
            <h1 class="text-xs-center">Pagina no encontrada (404)</h1>
        </v-flex>
        <v-flex xs12>
            <p class="text-xs-center">
                Volver al inicio <v-btn to="/" flat color="primary">Click Aquí</v-btn>
            </p>
        </v-flex>
    </v-layout>
</template>