<template>
    <v-container>
        <v-layout wrap v-if="!pagado">
            <v-flex xs12>
                <v-data-table
                    :headers="headers"
                    :items="carrito"
                    class="elevation-1"
                >
                    <template v-slot:items="props">
                    <td>{{ props.item.nombre }}</td>
                    <td class="text-xs-center">{{ props.item.precio }}</td>
                    <td class="text-xs-center">{{ props.item.precio_total }}</td>
                    <td class="text-xs-center">{{ props.item.cantidad }}</td>
                    </template>
                </v-data-table>
            </v-flex>
            <v-flex xs12 ms6>
                <h3>{{t('Pagar')}}: {{total}}</h3>
            </v-flex>
            <v-flex xs12 ms6 @click="pagar">
                <v-btn color="primary">{{t('Pagar')}}</v-btn>
            </v-flex>
        </v-layout>
        <v-layout wrap v-if="pagado">
            <v-flex>
                {{message}}
                <a :href="pdf" v-if="pdf != ''">{{t('PDF AQUI')}}</a>
            </v-flex>
        </v-layout>

            <v-dialog
            v-model="dialog"
            hide-overlay
            persistent
            width="300"
            >
            <v-card
                color="primary"
                dark
            >
                <v-card-text>
                {{t('Espera por favor')}}
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                ></v-progress-linear>
                </v-card-text>
            </v-card>
            </v-dialog>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </v-container>
</template>
<script>
    import axios from 'axios'

    export default {
		locales:{
			english: {
                'Cerrar': 'Close',
                'Espera por favor': 'Wait, please...',
                'PDF AQUI': 'PDF HERE',
                'Pagar': 'Pay'
			}
		},
        props: ['token','lal'],
        data() {
            return {
                headers: [
                    {
                        text: 'Producto',
                        align: 'left',
                        sortable: false,
                        value: 'nombre'
                    },
                    { text: 'Precio', value: 'precio' },
                    { text: 'Total', value: 'precio_total' },
                    { text: 'Cantida', value: 'cantidad' }
                ],
                carrito: [],
                total: 0,
                //Cambios1
                alert: false,
                message: '',
                color: 'red',
                pagado: false,
                dialog: false,
                pdf: ''
            }
        },
        mounted(){
            if (this.token != null && this.lal != null) {
                this.pagado = true
                this.verificarPago(this.token,this.lal)
            }
            else {
                this.verificarCarrito(sessionStorage.getItem('token'))
            }
        },
        methods:{
			verificarCarrito(e){
				axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/caja.php?privilege=public&action=verificar&token='+e)
				.then(res =>{
					//console.log(res)
					if (res.data.status == 1 && res.data.carrito != []) {
                        this.carrito = res.data.carrito
                        for (let i = 0;i < this.carrito.length; i++) {
                            if (this.carrito[i].id_venta > 0) {
                                this.carrito[i].precio_total = parseFloat(this.carrito[i].precio_total)+(parseFloat(this.carrito[i].cantidad)*this.carrito[i].comision)
                                this.carrito[i].precio = parseFloat(this.carrito[i].precio)+parseFloat(this.carrito[i].comision)
                            }
                            this.total += parseFloat(this.carrito[i].precio_total);
                        }
					}
					else {
					}
				})
            },
            verificarPago(e,z){
                let data = this.carrito;
                let y = sessionStorage.getItem('token')
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios({
                    url: 'api/confirmpago.php?token2='+e+'&token='+y+'&lal='+z,
                    method: 'post',
                    data: data
                })
                .then(res =>{
                        console.log(res)
                        if (res.data.status == 1){
                            this.message = res.data.message
                            this.getPdf(res.data.link)
                        }
                        else {
                            this.alert = true;
                            this.message = res.data.message
                            this.color = 'red'
                        }
                })
            },
            pagar(){
                this.dialog = true
                let data = this.carrito;
                let e = sessionStorage.getItem('token')
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios({
                    url: 'api/pagar.php?privilege=public&action=pagar&token='+e+'&idPedido='+this.carrito[0].id_pedido,
                    method: 'post',
                    data: data
                })
                .then(res =>{
                        //console.log(res)
                        if (res.data.status == 1){
                            location.href = res.data.link
                        }
                        else {
                            this.alert = true;
                            this.message = res.data.message
                            this.color = 'red'
                        }
                })
            },
			getPdf(y){
                let e = sessionStorage.getItem('token')
                let z = this.lal;
                this.pdf = 'http://localhost/hybody/core/api/pdfs.php?token='+e+'&lal='+z+'&nap='+y
				/*axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/pdfs.php?token='+e+'&lal='+z+'&nap='+y)
				.then(res =>{
                    console.log(res)
                    this.pdf = res.data
				})*/
            },
        }
    }
</script>
