<template>
    <v-container>
		<v-fab-transition>
            <v-tooltip left>
                <template v-slot:activator="{ on }">
                    <v-btn
                        color="red"
                        dark
                        fab
                        fixed
                        bottom
                        right
                        v-on="on"
                        @click="cerrarSesion()"
                    >
                        <v-icon>fas fa-power-off</v-icon>
                    </v-btn>
                </template>
                <span>{{t('Cerrar Sesión')}}</span>
            </v-tooltip>
		</v-fab-transition>
        <v-layout wrap>
            <v-flex xs12 sm6 md4>
                <v-card>
                    <v-img
                        :src="img"
                        height="350px"
                    >
                    </v-img>

                    <v-card-actions class="text-xs-center">
                        <form @submit.prevent="setImg">
                            <input type="file" name="img" @change="prueba" value="Pruebas">
                            <v-btn color="primary" class="ma-1" type="submit">
                                {{t('Cambiar Foto')}}
                            </v-btn>
                        </form>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12 sm6 md8 class="text-xs-center pa-3 pt-5">
                <h2>{{t('Datos generales')}}</h2>
                <form @submit.prevent="setGeneral">
                    <v-layout wrap>
                        <v-flex xs12 md6 class="ma-1">
                            <v-text-field
                                v-model="name"
                                :rules="vacioRules"
                                :label="t('Nombre')"
                                name="nombre"
                                required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md5 class="ma-1">
                            <v-text-field
                                v-model="last_name"
                                :rules="vacioRules"
                                :label="t('Apellido')"
                                name="apellido"
                                required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6 class="ma-1">
                            <v-text-field
                                v-model="email"
                                :rules="vacioRules"
                                :label="t('Correo')"
                                type="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                title="(Ejemplo: example@example.com)"
                                name="correo"
                                required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md5 class="ma-1">
                            <v-text-field
                                v-model="phone"
                                :rules="telefonoRules"
                                :label="t('Teléfono')"
                                type="number"
                                name="telefono"
                                required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12 class="text-xs-center">
                            <v-btn type="submit">{{t('Cambiar')}}</v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12 class="mt-4">
                <v-tabs
                    centered
                    color="cyan"
                    dark
                    icons-and-text
                >
                    <v-tabs-slider color="yellow"></v-tabs-slider>

                    <v-tab href="#tab-1" @click="grafica1 = false">
                        {{t('Informacion')}}
                        <v-icon>fas fa-info</v-icon>
                    </v-tab>

                    <v-tab href="#tab-2" @click="grafica1 = true">
                        {{t('Compras')}}
                        <v-icon>fas fa-shopping-bag</v-icon>
                    </v-tab>

                    <v-tab href="#tab-3" @click="grafica1 = false">
                        {{t('Seguridad')}}
                        <v-icon>fas fa-key</v-icon>
                    </v-tab>

                    <!--<v-tab href="#tab-4" @click="grafica1 = false">
                    {{t('Ventas')}}
                    <v-icon>fas fa-shipping-fast</v-icon>
                    </v-tab>-->

                    <v-tab-item value="tab-1">
                        <info></info>
                    </v-tab-item>
                    <v-tab-item value="tab-2">
                        <compras></compras>
                    </v-tab-item>
                    <v-tab-item value="tab-3">
                        <seguridad></seguridad>
                    </v-tab-item>
                    <v-tab-item value="tab-4" v-if="tipo == 2">
                        <ventas></ventas>
                    </v-tab-item>
                    <!--<v-tab-item value="tab-4" v-if="tipo == 1">
                        <v-btn>
                            {{t('Solicitar ser vendedor')}}
                        </v-btn>
                    </v-tab-item>-->
                </v-tabs>
            </v-flex>
        </v-layout>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>

        <div class="container" :style="{display: grafica1 ? '':'none'}">
            <v-container>
                <v-layout wrap>
                    <v-flex>
                        <h2>{{t('Grafica que muestra los gastos mensuales (Por año)')}}:</h2>
                    </v-flex>
                    <v-flex xs12 sm8>
                        <v-select
                        v-model="ano"
                        :items="anos"
                        :label="t('Años')"
                        required
                        ></v-select>
                    </v-flex>
                    <v-flex xs12 sm4>
                        <v-btn 
                        @click="loaded = false,datosCompras()">
                            {{t('Graficar')}}
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
            <line-chart
            v-if="loaded"
            :chartdata="chartdata"
            :options="options"/>


            <v-container>
                <v-layout wrap>
                    <v-flex xs12>
                        <h2>{{t('Grafico de cantidad productos comprados (por año)')}}:</h2>
                    </v-flex>
                    <v-flex xs12 sm8>
                        <v-select
                        v-model="ano2"
                        :items="anos"
                        :label="t('Años')"
                        required
                        ></v-select>
                    </v-flex>
                    <v-flex xs12 sm4>
                        <v-btn 
                        @click="cargar = false,datosProductos()">
                            {{t('Graficar')}}
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
            <cakechart
            v-if="cargar"
            :chartdata="datachar"
            :options="options"/>
            
        </div>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import info from '../components/Perfil/info'
    import compras from '../components/Perfil/compras'
    import seguridad from '../components/Perfil/seguridad'
    import ventas from '../components/Perfil/ventas'
    import LineChart from '../components/bars'
    import cakechart from '../components/pastal'

    export default {
		locales:{
			english: {
                'Grafica que muestra los gastos mensuales (Por año)': 'Chart showing monthly expenses (per year)',
                'Grafico de cantidad productos comprados (por año)': 'Graph of quantity products purchased (per year)',
                'Cerrar Sesión': 'Logout',
                'Cerrar': 'Close',
                'Cambiar Foto': 'Update Photo',
                'Datos Generales': 'General Data',
                'Cambiar': 'Change',
                'Graficar': 'Graph',
                'Años': 'Years',
                'Nombre': 'Name',
                'Apellido': 'Last Name',
                'Correo': 'Email',
                'Contraseña': 'Password',
                'Confirmar Contraseña': 'Confirm Password',
                'Datos generales': 'General Data',
                'Pais': 'Country',
                'Genero': 'Gender',
                'Departamentos': 'State',
                'Ciudad': 'City',
                'Dirección': 'Direction',
                'Postal': 'Postal',
                'Fecha Nacimiento': 'Birth date',
                'Teléfono': 'Phone',
                'Masculino': 'Men',
                'Femenino': 'Woman',
                'Cerrar': 'Close',
                'Solicitar ser vendedor': 'Request to be a seller',
                'Informacion': 'Information',
                'Compras': 'Shopping',
                'Seguridad':'Security',
                'Ventas':'Sales'
			}
		},
        components:{
            info,
            compras,
            seguridad,
            ventas,
            LineChart,
            cakechart
        },
        data () {
            return {
                grafica1: false,
                name: '',
                last_name: '',
                email: '',
                phone: '',
                img: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
                tipo: 0,
                //Cambios1
                alert: false,
                message: '',
                color: 'red',
                //Reglas
                vacioRules: [
                    v => !!v || 'Valores Vacíos'
                ],
                telefonoRules: [
                    v => !!v || 'Valores Vacíos, debe tener como minimo 8 digitos'
                ],
                //Grafico de barras
                loaded: false,
                chartdata: {
                        labels: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto',
                        'Septiembre','Octubre','Noviembre','Diciembre'],
                        datasets: [
                            {
                            label: 'Gastos Realizados ($)',
                            backgroundColor: 
                                '#4CAF50',
                            data: [0,0,0,0,0,0,0,0,0,0,0,0]
                            }
                        ]
                },
                //Grafico de pastel
                cargar: false,
                datachar: {
                    labels: [],
                    datasets: [
                        {
                        label: 'Cantidad comprada:',
                        backgroundColor: [
                            '#F44336','#E91E63','#9C27B0','#673AB7',
                            '#3F51B5','#2196F3','#03A9F4','#00BCD4',
                            '#009688','#4CAF50','#8BC34A','#FFC107',
                            '#F44336','#E91E63','#9C27B0','#673AB7',
                            '#3F51B5','#2196F3','#03A9F4','#00BCD4',
                            '#009688','#4CAF50','#8BC34A','#FFC107',
                        ],
                        data: []
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                },
                ano: '2019',
                ano2: '2019',
                anos: []
            }
        },
        mounted(){
            this.verificar(sessionStorage.getItem('token'))
            this.datosCompras()
            this.datosProductos()
            
        },
        methods:{
            datosProductos() {
                this.datachar.labels = []
                this.datachar.datasets[0].data = []
                let e = sessionStorage.getItem('token')
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/pedidos.php?privilege=public&action=consultaC&token='+e)
                .then(res =>{
                        console.log(res)
					if (res.data.status == 1 && res.data.detalle != []) {
                        let comp = this.ano2

                        let dato = res.data.detalle.filter(function (elem) {
							let el1 = elem.fecha.toLowerCase();
							if (comp === '') return true;
                            else return el1.indexOf(comp.toLowerCase()) > -1;
                        })
                            
                        for (let i = 0; i < dato.length; i++) {
                            this.datachar.labels.push(dato[i].nombre)
                            this.datachar.datasets[0].data.push(dato[i].cantidad)
                        }
                        this.cargar = true
					}
					else if (res.data.status == 0) {
						this.$router.push({
                            name: 'login'
                        })
                    }
				})
            },
            datosCompras() {
                this.chartdata.datasets[0].data = [0,0,0,0,0,0,0,0,0,0,0,0]
                let e = sessionStorage.getItem('token')
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/pedidos.php?privilege=public&action=consultaP&token='+e)
                .then(res =>{
                        //console.log(res)
					if (res.data.status == 1 && res.data.detalle != []) {
                        let comp = this.ano
                        let dat = res.data.detalle
                        //Llenado de combobox con los años
                        for (let i = 0; i < dat.length; i++) {
                            if(i == 0){
                                this.anos.push(dat[i].fecha)
                            }
                            else if (dat[i-1].fecha != dat[i].fecha){
                                this.anos.push(dat[i].fecha)
                            }
                            
                        }
                        //Filtro de datos por año
                        let d = res.data.detalle.filter(function (elem) {
							let el1 = elem.fecha.toLowerCase();
							if (comp === '') return true;
							else return el1.indexOf(comp.toLowerCase()) > -1;

                        })
                        let g = 0
                        let element = ''
                        d.length
                        for (let i = 0; i < d.length; i++) {
                            this.chartdata.datasets[0].data[(d[i].mes-1)] = d[i].total
                        }
                        this.loaded = true
                        
					}
					else if (res.data.status == 0) {
						this.$router.push({
                            name: 'login'
                        })
					}
				})
            },
            prueba(e){
                var file = e.target.files[0],
                imageType = /image.*/;
                
                if (!file.type.match(imageType))
                return;
            
                var reader = new FileReader();
                reader.onload = this.cargarImg;
                reader.readAsDataURL(file);
            },
            cargarImg(e) {
                this.img = e.target.result;
            },
            verificar(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.get('api/clientes.php?privilege=public&action=verificar&token='+e)
				.then(res =>{
					if (res.data.status == 1 && res.data.clientes != []) {
						//console.log(res)
                        this.name = res.data.clientes[0].nombre
                        this.last_name = res.data.clientes[0].apellido
                        this.email = res.data.clientes[0].correo
                        this.phone = res.data.clientes[0].telefono
                        this.tipo = res.data.clientes[0].tipo
                        if (res.data.clientes[0].img != '') {
                            this.img = res.data.clientes[0].img
                        }
					}
					else {
						this.$router.push({
                            name: 'login'
                        })
					}
				})
            },
            cerrarSesion() {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.post('api/clientes.php?privilege=public&action=cerrarSesion&token='+sessionStorage.getItem('token'))
				.then(res =>{
                    //console.log(res)
					if (res.data.status == 1) {
                        sessionStorage.clear()
                        this.$router.push({
                            name: 'login'
                        })
                    }
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            },
            setImg(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.post('api/clientes.php?privilege=public&action=imagen&token='+sessionStorage.getItem('token'), new FormData(e.target))
				.then(res =>{
                    //console.log(res)
					if (res.data.status == 1) {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'green'
                    }
                    else if (res.data.status == 2) {
						this.$router.push({
                            name: 'login'
                        })
                    }
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            },
            setGeneral(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
				axios.post('api/clientes.php?privilege=public&action=general&token='+sessionStorage.getItem('token'), new FormData(e.target))
				.then(res =>{
                    //console.log(res)
					if (res.data.status == 1) {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'green'
                    }
                    else if (res.data.status == 2) {
						this.$router.push({
                            name: 'login'
                        })
                    }
					else {
						//console.log(res)
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
				})
            },
        }
    }
</script>
<style scoped>

</style>


