<template>
    <v-container>
		<v-fab-transition>
			<v-btn
				color="red"
				dark
				fab
				fixed
				bottom
				right @click="moverCarrito()"
			>
				<v-badge
					color="pink lighten-3"
					right
					overlap
				>
					<template v-slot:badge>
						<span class="colores">
							{{numP}}
						</span>
					</template>
					<v-icon>fas fa-shopping-cart</v-icon>
				</v-badge>
			</v-btn>
		</v-fab-transition>
        <v-card>

            <template v-if="existe">

                <v-carousel height="350" light>
                    <v-carousel-item v-for="item in img" :key="item.id" :src="item.url">
                    </v-carousel-item>
                </v-carousel>
                <v-container>
                    <v-layout wrap>
                        <v-flex xs12 text-xs-center>
                            <h1>
                                {{productos[0].producto}}
                            </h1>
                        </v-flex>
                        <v-layout text-xs-center>
                            <v-btn icon @click="productos[0].cantidad++">
                                <v-icon>fas fa-plus</v-icon>
                            </v-btn>

                            <v-flex xs12 sm6 md4>
                                <v-text-field type="number" pattern="\d$" :label="t('cantidad')"
                                v-model="productos[0].cantidad" disabled></v-text-field>
                            </v-flex>
                            <v-btn icon @click="productos[0].cantidad--" v-if="productos[0].cantidad > 1">
                                <v-icon>fas fa-minus</v-icon>
                            </v-btn>
                            <v-spacer></v-spacer>
                            <v-btn icon flat color="blue" @click="addCarrito (productos[0].id, productos[0].cantidad, productos[0].producto, productos[0].precio) ">
                                <v-icon>fas fa-plus-circle</v-icon>
                            </v-btn>
                            <v-btn v-if="privilege == 2" @click="getVender()">
                                {{t('Vender')}}
                            </v-btn>
                        </v-layout>
                    </v-layout>
                </v-container>

            </template>
            <v-tabs v-model="active" color="teal" dark slider-color="yellow" v-if="existe">
                <v-tab ripple>
                    {{t('Descripción')}}
                </v-tab>
                <v-tab ripple @click="getComentarios(productos[0].id)">
                    {{t('Comentarios')}}
                </v-tab>
                <v-tab-item>
                    <v-card flat>
                    <v-card-text>
                        <h3>
                            {{t('Precio')}}: {{ '$'+productos[0].precio }}
                        </h3>
                        <p>
                            {{ productos[0].descripcion }}
                        </p>
                    </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text text-xs-center>
                            <h2>
                                {{t('Comentarios')}}
                            </h2>
                        </v-card-text>
                    </v-card>
                    <!--
                        @autor: Boris Huezo
                        @Descripcion:
                            En esta parte el usuario deja su comentario al iniciar sesion
                            de lo contrario no se puede
                    -->
                    <v-card class="mb-2">
                        <v-container>
                            <v-layout>
                                <v-flex xs12>
                                    <v-card color="teal" class="white--text">
                                        <v-layout row>
                                            <v-flex xs12>
                                                <v-card-title primary-title>
                                                    {{t('Deja tu comentario')}}
                                                </v-card-title>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row>
                                            <v-flex xs12>
                                                <v-textarea
                                                    v-model="comentario"
                                                    auto-grow
                                                    box
                                                    color="white"
                                                    :label="t('Comentar')"
                                                    rows="1"
                                                ></v-textarea>
                                            </v-flex>
                                        </v-layout>
                                        <v-divider light></v-divider>
                                        <v-card-actions class="pa-3">
                                            <v-btn color="#26c6da" @click="setComentar()" v-if="comentado == false">
                                                {{t('Comentar')}}
                                            </v-btn>
                                            <v-btn color="#26c6da" @click="setComentarAct()" v-if="comentado == true">
                                                {{t('Actualizar Comentario')}}
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <v-rating color="yellow" v-model="califi"></v-rating>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                    <!--
                        @Comentario
                        @autor: Boris Huezo
                        @Descripcion:
                            Este es el espacio donde se colocaran los comnetarios de los productos
                    -->
                    <v-container class="comentario">
                        <v-card class="mx-auto my-2" color="#26c6da" dark max-width="400"
                            v-for="item in comentariox" :key="item.id_comentario">

                            <v-card-text class="headline font-weight-bold">
                                {{ '"'+item.comentario+'"' }}
                            </v-card-text>

                            <v-card-actions>
                            <v-list-tile class="grow">
                                <v-list-tile-avatar color="grey darken-3">
                                    <v-img class="elevation-6"
                                        src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                                    ></v-img>
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.cliente }}
                                    </v-list-tile-title>
                                </v-list-tile-content>

                                <v-layout align-center justify-end>
                                    <v-icon color="yellow" v-if="item.calificacion > 0">fas fa-star</v-icon>
                                    <v-icon color="yellow" v-if="item.calificacion > 1">fas fa-star</v-icon>
                                    <v-icon color="yellow" v-if="item.calificacion > 2">fas fa-star</v-icon>
                                    <v-icon color="yellow" v-if="item.calificacion > 3">fas fa-star</v-icon>
                                    <v-icon color="yellow" v-if="item.calificacion > 4">fas fa-star</v-icon>
                                </v-layout>
                            </v-list-tile>
                            </v-card-actions>
                        </v-card>
                    </v-container>
                </v-tab-item>
            </v-tabs>
        </v-card>
        <v-snackbar
            v-model="alert"
            :color="color"
            multi-line
        >
        {{ message }}
            <v-btn
                dark
                flat
                @click="alert = false"
            >
                {{t('Cerrar')}}
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['producto','id','query'],
		locales:{
			english: {
                'Descripción': 'Description',
                'Comentarios': 'Comments',
                'Deja tu comentario': 'Leave your comment',
                'Comentar': 'Comment',
                'Actualizar Comentario': 'Update Comment',
                'Precio': 'Price',
                'Vender': 'Sell',
                'cantidad': 'quantity',
                'Cerrar': 'Close',
			}
		},
        data () {
            return {
                existe: false,
                productos: [],
                //Activacion de tabs e el modal
                active: null,
                //Modal de productos
                img: [],
                l1: 0,
                l2: '',
                l3: 0,
                l4: '',
                //Comentarios
                comentariox: [],
                //Comnetar
                comentado: false,
                id_coment: 0,
                comentario: '',
                califi: 1,
                numP: 0,
                comision: '',
                com: 0,
                privilege: 0,
                cliente: '',
                //Cambios1
                alert: false,
                message: '',
                color: 'red',
            }
        },
        mounted(){
            this.comision = this.query
            this.getProductos (this.id)
			this.verificarcarrito( sessionStorage.getItem('token') )
			this.verificar( sessionStorage.getItem('token') )
        },
        methods:{
            verificar(e) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/clientes.php?privilege=public&action=verificar&token='+e)
                .then(res =>{
                    if (res.data.status == 1 && res.data.clientes != []) {
                        //console.log(res)
                        this.privilege = res.data.clientes[0].tipo
                        this.cliente = res.data.clientes[0].nombre
                    }
                    else {
                        this.privilege = 0
                    }
                })
            },
            addCarrito (id, cantidad, nombre, precio) {
                if(id != '' && cantidad != '' && id != 0){
                    this.numP += parseInt(cantidad);
                    let car = {
                        "id_pro": id,
                        "nombre": nombre,
                        "precio": precio,
                        "precio_total": parseFloat(precio*cantidad).toFixed(2),
                        "cantidad": cantidad,
                    }
                    //console.log(car)
                    let link = ''
                    let e = sessionStorage.getItem('token')
                    if(this.comision != null){
                        link = 'api/caja.php?privilege=public&action=agregarCarrito&token='+e+'&ven='+this.comision
                    }
                    else{
                        link = 'api/caja.php?privilege=public&action=agregarCarrito&token='+e
                    }
                    this.precio_total += parseInt(precio*cantidad)
                    axios.defaults.baseURL = 'http://localhost/hybody/core/';
                    axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                    axios({
                        url: link,
                        method: 'post',
                        data: car
                    })
                    .then(res =>{
                        console.log(res)
                    })
                }
            },
            moverCarrito () {
                this.$router.push({
                    name: 'carrito'
                })
            },
            verificarcarrito(e){
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/caja.php?privilege=public&action=verificar&token='+e)
                .then(res =>{
                    //console.log(res)
                    if (res.data.status == 1 &&res.data.carrito != []) {
                        let valor = res.data.carrito;
                        for(let i=0; i< valor.length; i++) {
                            this.numP += parseInt(valor[i].cantidad)
                        }
                    }
                })
            },
            getProductos (id) {
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/productos.php?privilege=public&action=leerProducto&id='+id)
                .then(res =>{
                        console.log(res)
                    if (res.data.status == 1 && res.data.productos != []) {
                        this.productos = res.data.productos
                        this.img = res.data.productos[0].img
                        if (this.comision != null) {
                            this.productos[0].precio = parseFloat(this.productos[0].precio) + parseFloat(this.productos[0].comision)
                        }
                        this.l1 = this.productos[0].id
                        this.existe = true
                    }
                    else {
                        this.existe = false
                    }
                })
            },
            getComentarios (id) {
                this.comentado = false
                this.comentario = ''
                this.califi = 1
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios.get('api/comentario.php?producto='+id)
                .then(res =>{
                    if (res.data.status == 1) {
                        //console.log(res)
                        this.comentariox = res.data.comentarios
                        var comp = this.cliente
                        var datos = []
                        for(let i=0; i < this.comentariox.length; i++){
                                if(this.comentariox[i].cliente != comp){
                                    datos.push(this.comentariox[i]);
                                }
                                else{
                                    this.comentado = true
                                    this.id_coment = this.comentariox[i].id_comentario
                                    this.comentario = this.comentariox[i].comentario
                                    this.califi = parseInt(this.comentariox[i].calificacion)
                                }
                        }
                        this.comentariox = datos
                        //console.log(datos)
                    }
                    else{
                        //console.log('No encontrado id')
                    }
                })
            },
            setComentarAct(){
                var data = {
                    "id": this.id_coment,
                    "comentario": this.comentario,
                    "calificacion": this.califi
                }
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios({
                    url: 'api/comentario.php?action=editar',
                    method: 'post',
                    data: data
                })
                .then(res =>{
                        //console.log(res)
                    if (res.data.status == 1) {
                        this.getComentarios (this.l1)
                    }
                    else{
                        //console.log('Error al ingresar')
                    }
                })
            },
            setComentar () {
                var data = {
                    "comentario": this.comentario,
                    "calificacion": this.califi
                }
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios({
                    url: 'api/comentario.php?producto='+this.l1+'&action=ingresarc',
                    method: 'post',
                    data: data
                })
                .then(res =>{
                        //console.log(res)
                    if (res.data.status == 1) {
                        this.getComentarios (this.l1)
                    }
                    else{
                        //console.log('Error al ingresar')
                    }
                })
            },
            getVender(){
                let e = sessionStorage.getItem('token')
                var data = {
                    "id_producto": this.productos[0].id,
                    "nombre": this.productos[0].producto
                }
                axios.defaults.baseURL = 'http://localhost/hybody/core/';
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
                axios({
                    url: 'api/ventas.php?privilege=public&action=vender&token='+e,
                    method: 'post',
                    data: data
                })
                .then(res =>{
                    console.log(res)
                    if (res.data.status == 1) {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'green'
                    }
					else {
                        this.alert = true;
                        this.message = res.data.message
                        this.color = 'red'
					}
                })
            }
        }
    }
</script>
