<template>
	<div>
		<v-container>
			<v-layout>
				<v-flex class="text-xs-center mb-5">
					<h1>
						Sobre Nosotros
					</h1>
				</v-flex>
			</v-layout>
			<v-timeline>
				<v-timeline-item color="teal lighten-2" fill-dot
				right >
					<v-card>
						<v-card-title class="blue darken-1">
							<v-icon dark size="42" class="mr-3" >
								fas fa-address-card
							</v-icon>
							<h2 class="display-1 white--text font-weight-light">¿Quienes somos?</h2>
						</v-card-title>
						<v-container>
							<v-layout>
								<v-flex xs12>
									Lorem ipsum dolor sit amet, 
									no nam oblique veritus. Commune 
									scaevola imperdiet nec ut, sed euismod 
									convenire principes at. Est et nobis iisque percipit.
								</v-flex>
							</v-layout>
						</v-container>
					</v-card>
				</v-timeline-item>

				<v-timeline-item color="cyan lighten-2" fill-dot left small>
					<v-card>
						<v-card-title class="light-blue lighten-2 justify-end">
							<h2 class="display-1 mr-3 white--text font-weight-light">Objetivos</h2>
							<v-icon dark size="42" >fas fa-eye</v-icon>
						</v-card-title>
						<v-container>
							<v-layout>
								<v-flex xs6>
									<h3>Misión</h3>
								</v-flex>
								<v-flex xs6>
									<h3>Visión</h3>
								</v-flex>
							</v-layout>
						</v-container>
					</v-card>
				</v-timeline-item>

				<v-timeline-item color="light-blue lighten-2" fill-dot right>
					<v-card>
						<v-card-title class="cyan lighten-2">
							<v-icon class="mr-3" dark size="42">
								fas fa-address-book
							</v-icon>
							<h2 class="display-1 white--text font-weight-light">Contactos</h2>
						</v-card-title>
						<v-container>
							<v-layout>
								<v-flex xs4>
									<h4>Correos</h4>
								</v-flex>
								<v-flex xs4>
									<h4>Telefonos</h4>
								</v-flex>
								<v-flex xs4>
									<h4>Redes Sociales</h4>
								</v-flex>
							</v-layout>
						</v-container>
					</v-card>
				</v-timeline-item>
			</v-timeline>
		</v-container>
	</div>
</template>

<script>
	export default {
	}
</script>

