<template>
    
    <v-footer dark height="auto" >
        <v-card class="flex" flat tile>
            <v-card-title class="teal">
                <strong class="subheading">
                    {{idioma ? 'The hygiene in your hands!': 'La higiene en tus manos!'}}
                </strong>

                <v-spacer></v-spacer>

                <v-btn class="mx-3" dark icon>
                    <v-icon size="24px">fab fa-facebook</v-icon>
                </v-btn>
                <v-btn class="mx-3" dark icon>
                    <v-icon size="24px">fab fa-instagram</v-icon>
                </v-btn>
                <v-btn class="mx-3" dark icon>
                    <v-icon size="24px">fab fa-twitter</v-icon>
                </v-btn>
            </v-card-title>

            <v-card-actions class="grey darken-3 justify-center">
                &copy;2019 — <strong>hybody</strong>
            </v-card-actions>
        </v-card>
    </v-footer>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name: 'pie',
    computed: mapGetters(['idioma'])
}
</script>

