<template>
  <v-app>
    <!--
			@autor: Boris
			@descripcion:
				Menu o barra de herramientas para los componentes y modales de:
				iniciar sesión
				Carrito
    -->

    <v-toolbar app>
      <v-toolbar-title>
        <router-link class="estilo-home" to="/">Hybody</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-text-field
          type="search"
          pattern="\d$"
          :label="t('Buscar')"
          v-if="hola == 'home'"
          v-model="buscar"
        ></v-text-field>
        <v-btn icon flat color="grey darken-3" v-if="hola == 'home'" @click="getBuscar(buscar)">
          <v-icon>fas fa-search</v-icon>
        </v-btn>
        <v-btn flat to="/login">
          <v-icon>fas fa-user</v-icon>
        </v-btn>
        <v-btn flat @click="changeData">{{idioma ? 'Español' : 'English'}}</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <!--
			@autor: Boris Huezo
			@descripcion: 
				Este es el menu desplagable este sirve para la navegabilidad.
    -->
    <v-content>
      <router-view />
    </v-content>
    <pie></pie>
  </v-app>
</template>

<script>
	//import axios from 'axios'
	import pie from './components/pie.vue'
	import {mapGetters} from 'vuex'

	export default {
		name: 'App',
		data () {
			return {
				buscar: '',
				hola: 'home'
			}
		},
		mounted(){
		},
		locales:{
			english: {
				'Buscar': 'Search'
			}
		},
		computed:{
			...mapGetters(['idioma']),
			datos(){
				return this.$router.history.current.name
			}
		},
		methods:{
			changeData(){
				this.$store.dispatch('changeLanguage')
				let idioma = this.$store.getters.idioma
				if (idioma) {
					this.$translate.setLang('english');
				} else {
					this.$translate.setLang('spanish');
				}
			},
			getBuscar(dato){
				this.$store.dispatch('searchProducto',dato)
			}
		},
		components: {
			pie
		}
	}
</script>

<style scoped>
.estilo-home {
  color: #111;
  text-decoration: none;
}
</style>